*

!agent/

!agent/agents/
!agent/agents/**

!agent/extensions/
!agent/extensions/**

!agent/prompts/
!agent/prompts/**

!agent/skills/
!agent/skills/**

!agent/themes/
!agent/themes/**

!agent/AGENTS.md
!agent/keybindings.json
!agent/models.json
!agent/settings.json

!README.md
